@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
  --Dark-Blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
  --Dark-Blue-main-background: hsl(218, 28%, 13%);
  --Dark-Blue-footer-background: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials-background: hsl(219, 30%, 18%);
  --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --Light-Red-error: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: var(--Dark-Blue-main-background);
    color: var(--White);
    min-height: 100%;
}

.hidden-visually {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}